.app {
  display: grid;

  height: 100vh;
  background: url("/static/images/palms.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% -100px;

  @media (min-width: 640px) {
    grid-template-rows: 1fr auto;
    background-position: center bottom;
  }

  @media (min-width: 1000px) {
    background-size: contain;
  }
}

.app__header {
  margin-top: auto;
  text-align: center;
  
  @media (min-width: 640px) {
    margin: auto;
  }
}



