.icons {
  display: flex;
  justify-content: space-between;

  list-style: none;
  margin: 20px 0 0;
  padding: 20px 15px 0;
  border-top: 1px dotted currentColor;
}

.icon__link {
  transition: 0.3s color, 0.3s transform;
  will-change: transform;

  overflow: hidden;
  display: block;
  width: 28px;
  height: 28px;
}

.icon__link:hover {
  transform: scale3d(1.5, 1.5, 1);
}

.icon__link svg {
  stroke: currentColor;
  fill: transparent;
}