@keyframes fade-in {
  to {
    opacity: 1
  }
}

:root {
  --grad1: #002239;
  --grad2: #0b605f;
  --grad3: #58ADAC;
  --stripe: #fff1;

  --bg-contrast: #000a;
  --bg-contrast-text: #ccc;
  --bg-contrast-title: #B6B58E;
  --bg-highlight: #202237;
  --bg-highlight-text: #666;

  --max-w: 960px;
  --icon-med: 24px;
  --icon-lg: 64px;
}

html,
body {
  margin: 0;
}

body {
  --grad-img: linear-gradient(119deg, var(--grad1) 2%, var(--grad2) 82%);

  scroll-behavior: smooth;
  font-family: system-ui;
  background: var(--grad1) var(--grad-img) no-repeat;
  color: #ccc;
}

.unlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

